<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create an Author</h1>
    <ul>
      <a href="/"><li>Home</li></a>
      <a href="/authors"><li>Authors Index</li></a>

      <main>
        <form action="/authors" method="POST">
          <input type="text" name="name">
          <button type="submit">submit</button>
      </main>
    </ul>
  </body>
</html>
